<mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>         
            <mat-list-item routerLink="">
                <mat-icon aria-hidden="false">medical_services</mat-icon>
                <a >Home</a>
            </mat-list-item>
            <mat-list-item routerLink="medico/cadastrar">
                <mat-icon aria-hidden="false">person_add_alt</mat-icon>
                <a >Cadastrar Medico</a>
            </mat-list-item>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

